{% extends 'common/base.html' %}

{% block title %}超超网站{% endblock %}
{% from 'common/macro.html' import show_pagination %}

{% block page_content %}
{#    {{ super() }}#}
{#        {{ quick_form(form) }}#}
{#    {% for p in posts %}#}
{#        <div class="media">#}
{#            <div class="media-left">#}
{#                <a href="#">#}
{#                    <img class="media-object" src="{{ url_for('static', filename='upload/'+p.user.icon) }}" alt="icon">#}
{#                </a>#}
{#            </div>#}
{#            <div class="media-body">#}
{#                <div style="float: right">{{ moment(p.timestamp).fromNow() }}</div>#}
{#                <h4 class="media-heading">{{ p.user.username }}</h4>#}
{#                <a href="http://www.baidu.com">{{ p.content }}</a>#}
{#            {% if current_user.is_authenticated %}#}
{#                <div style="cursor: pointer;" url="{{ url_for('posts.collect', pid=p.id) }}" class="collect">收藏</div>#}
{#            {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}{#
    {# 显示分页导航 #}
{#    {{ show_pagination(pagination, 'main.index', id=3, name='xxx') }}#}
    <h1>我没有完成详情内容：插入外部的页面，只写了跳转链接</h1>
    <h1>我的收藏那块只展示了，没有来得及写进数据库</h1>

{% endblock %}