{% extends 'common/base.html' %}

{% block title %}详细信息{% endblock %}
{% from 'common/macro.html' import show_pagination %}

{% block page_content %}
{#    <h1>好看的电影</h1>#}
{#    <img src="{{ img_urls }}">#}
        {% for p in Moves %}
        <div class="media">
            <div class="media-left">
                <a href="https://www.vmovier.com/{{p.postid}}?qingapp=app_new">
                    <img style="width: 150px;height: 130px" class="media-object" src="{{ p.icon }}" alt="icon">
{#                    <div style="cursor: pointer;"  class="collect">收{{ p.like_num }}</div>#}

                </a>
            </div>
            <div class="media-body">
                <div style="float: right">{{ moment(p.publish_time).fromNow() }}</div>
                <h4 class="media-heading"><a href="https://www.vmovier.com/{{p.postid}}?qingapp=app_new">{{ p.title }}</a></h4>
                <a href="https://www.vmovier.com/{{p.postid}}?qingapp=app_new">{{ p.content_title }}</a>
{#            {% if current_user.is_authenticated %}#}
                <div style="cursor: pointer;"  class="collect">时长{{ p.duration }}分钟</div>

                <div style="cursor: pointer;"  class="collect">收藏{{ p.like_num }}</div>
                <div style="cursor: pointer;"  class="collect">转发{{ p.share_num }}</div>

{#            {% endif %}#}
            </div>
        </div>
    {% endfor %}
        {{ show_pagination(pagination, 'user.move', id=3, name='xxx') }}


{% endblock %}